@import url(http://weloveiconfonts.com/api/?family=entypo);

  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
    a {
      text-decoration: none;
      color: #dd4830;
    }
    

    #bg {
      position:fixed; 
      top:-50%; 
      left:-50%; 
      width:200%; 
      height:200%;
      background: #000;
    }
    #bg img {
      position:absolute; 
      top:0; 
      left:0; 
      right:0; 
      bottom:0; 
      margin:auto; 
      min-width:50%;
      min-height:50%;
      opacity: 1;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 20px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 50%;
      text-align: right;
      line-height: 1.3em;
    }
    .next {
      position: fixed;
      top: 30%;
      right: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
     position: fixed;
      top: 30%;
      left: 0;
      font-size: 150%;
      color: #fff;
     background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
   

    
    .sky {color:#00aeca;}
   

    